>>>direc.vm
##logic 
#set($foo = true)
#set($bar = false)
## logical AND
#if( $foo && $bar )
   <strong> This AND that</strong>
#end

## logical OR
#if( $foo || $bar )
    <strong>This OR That</strong>
#end

##logical NOT
#if( !$bar )
  <strong>NOT that</strong>
#end

#if( $foo == $bar)it's true! #else it's not!#end

Top 3 favorites:
##loop
#foreach($fav in $user.favorites) 
  $foreach.count: $fav 
  #if ($foreach.count >= 3) 
  	#break 
  #end
#end

##foreach set
 
<ul>
#foreach( $product in $allProducts )
    <li>$product</li>
#end
</ul> 

 
## master not supported 
<ul>
#foreach( $key in $allProductsTwo.keySet() )
    <li>Key: $key -> Value: $allProductsTwo.get($key)</li>
#end
</ul>  

##stop

##foreach array
 
<table>
#foreach( $customer in $customerList )
		#if( $foreach.count >2 )
			#break
		#end
    <tr><td>$foreach.count</td><td>$customer.name</td></tr>
#end
</table> 


#foreach( $customer in $customerList )
    $customer.name #if( $foreach.hasNext ), #end
#end

<table>
#foreach( $customer in $customerList )
    <tr>
    	<td>$foreach.index</td>
    	<td>
    	#if($foreach.first)
    	--first--
    	#end
    	#if($foreach.last)
    	--last--
    	#end
    	$customer.name
    	</td>
    </tr>
#end
</table> 

#evaluate('$dataForEval')
#evaluate("$dataForEval")

#set($from1="from=100")
this is $from1
#set($fromid="1")
#set($from="\$from$fromid")
the string from is $from
the variable of from is #evaluate("$from")



##===================macro test
#commonMacro('Hello ' $user.name '!')

##call parameter numbers < difined parameter numbers,Error
##commonMacro('Hello ' $user.name)

#d()

#@d()I'm test a bodyContent something.#end

#maTest($id,100,'abc',[1..5],['a','b','c'],false,$method.foo())

#set($foo = $method.foo())
#maMethod($foo)

#blockMacro('Hello')

#@blockMacro('Hello')
--->xxxxxTAG
Name: $user.name
xxxxxTAG<---
#end


##escape test
================
#set( $foo = "bar" )
$\!foo
$\!{foo}
$\\!foo
$\\\!foo

\$foo
\$!foo
\$!{foo}
\\$!{foo}

\$foo
\${foo}
\\${foo}
==========================escape specail=========
\#if( $isTrue )
  this is true output
\#end

\\#if( $isTrue )
  this is true output
\\#end

\\\#if( $isTrue )
	this is true output
\\#end
================
##stop

$method.name
$method.getName()

#set($company = 'alipay.com')
Company: $company

Date: $date.format($date.year, $date.month, $date.day)
#if ( !$date.weather )
  Cannot get the weather info.
#elseif ($date.weather == 'sunny')
  Today is sunny.
#else 
  Today is not sunny.
#end

#set($more_include_file="more_include.txt")
#include("/plain-text.txt",$more_include_file)

#cmsparse("/cms.vm")

#parse('/uisvr.vm')

direc.vm<<<