>>>direc.vm
#foreach($employee in $employeeList)
  $employee.name $employee.email
#end

#foreach($entry in $user.entrySet())
  key: $entry.key, value: $entry.value
#end
#foreach($key in $user.keySet())
  $velocityCount: $key
#end
#foreach($fav in $user.favorites) 
  $foreach.count: $fav #if ($foreach.count >= 3) #break #end
#end

#evaluate('$dataForEval')
#evaluate("$dataForEval")

#define($userInfo)
user info:
name: $user.name
github: $user.github
#end
$userInfo

#commonMacro('Hello ' $user.name '!')
#commonMacro('Hello ' 'everyone' '!')

#@blockMacro('Hello')
--->bodyContent
Name: $user.name
bodyContent<---
#end

#macro(localMacro, $person)
$person.name $person.email
#end
#localMacro($manager)
#localMacro($boss)

#set($company = 'alipay.com')
Company: $company

#set($job = "$title in $company")
$job

Date: $date.format($date.year, $date.month, $date.day)
#if ($date.weather == 'sunny')
  Today is sunny.
#elseif ($date.weather)
  Today is not sunny.
#else
  Cannot get the weather info.
#end

#include("/plain-text.txt")
#cmsparse("/cms.vm")
#parse('/uisvr.vm')
direc.vm<<<