>>>expr.vm
#set($range = [$rangeStart..5])
First item of range: $range[0]
#set($list = [$user.name, 'string'])
First item of list: $list[0]
#set($map = {"id": $id})
One of map's key-value pair: id = $id
#set($bool = !true)
Unary operation: $bool
#set($int = 0)
Integer: $int
#set($float = 10.1)
Float: $float
#set($add = $rangeStart + 5)
Addition: $add
#set($str = 'my name is $user.name')
Dstring: $str
#set($dstr = "my name is $user.name")
Dstring: $dstr
expr.vm<<<