>>>ref.vm
ID: $id
Name: $user.name
Nick: $!user.nick ${user.nick}
Github: $user.github
Most favorite: $user.favorites[0]
$method.foo()
$method.bar()
#* 
bellow are references could cause error
$method.undef.undef
$method.undef.foo()
*#
ref.vm<<<