#macro(commonMacro, $a, $b, $c)
Arguments of commonMacro: [$a, $b, $c]
#end

#macro(blockMacro, $a)
Argument of blockMacro: $a
Body content: $bodyContent
#end

#macro(tempMacro, $a, $b)
#set($list = [$a..$b])
First element of list created by tempMacro: $list[0]
#end