this is d.vm

$name
$!name
${name}

#set($var = "$anotherVar")
#set($var = '$notVar')

# customer is not a variable
# $foreach is also not a variable
#foreach( $customer in $customerList )
  <tr><td>$foreach.count</td><td>$customer.Name</td></tr>
#end

#define( $hello ) Hello $who #end

#include( $path1 $path2 )