## References

$user  ${user}
$userNotActive

$user.github
${user.twitter}

$user.getAddr()

## Directives

#set($monkey = "$anotherMonkey")
#set($monkey.name = '$notVariable')
#set($monkey.numbers = [1..3])

#foreach($customer in $customerList)
  $foreach.count : $customer.Name
#end

#include("not-exists.txt" $includePath)

## #parse("singleLineComment.vm")
#*
  #parse("multipleLineComment.vm")
*#

#parse("/a.vm")
#parse("/b.vm")
#parse('$parsePath')
#parse("$parsePath")

#cmsparse("/c.vm")
