## References

$user  ${user}
$userNotActive

$user.github
${user.twitter}

$user.getAddr()

## Directives

#set($monkey = "$anotherMonkey")
#set($monkey.name = '$notVariable')
#set($monkey.numbers = [1..3])

#foreach($customer in $customerList)
  $foreach.count : $customer.Name
#end

#include("not-exists.txt"  $includePath)

## #parse("pathInSingleLineComment.vm")
#*
  #parse("pathInMultipleLineComment.vm")
*#
#[[
  #parse("pathInUnparsedBlock.vm")
]]#

#parse("/a.vm")
#parse("/a.vm")
#parse("/b.vm")
#parse('$pathInSingleQuotes')
#parse("$pathInDoubleQuotes")


#cmsparse("/c.vm")
