module.exports = {
  user: {
    favorites: [#foreach($value in $user.favorites)#if($foreach.count!=0),#end"$value"#end],
    name: '$user.name',
    email: '$user.email'
  },
  favIdx: '$favIdx',
  method: {
    foo: '$method.foo()'
  },
  arg: '$arg',
  order: {
    orderId: '$order.orderId',
    addr: {
      zipCode: '$order.addr.zipCode',
      city: '$order.addr.city',
      country: '$order.addr.country'
    }
  },
  employeeList: [#foreach($value in $employeeList)#if($foreach.count!=0),#end{name:"$value.name",email:"$value.email",code:"$value.code()",childlist:[#foreach($value in $value.childlist)#if($foreach.count!=0),#end{name:[#foreach($value in $value.name)#if($foreach.count!=0),#end{name:"$value.name"}#end]}#end]}#end],
  ref: {
    from: {
      child: '$ref.from.child'
    }
  },
  today: {
    year: '$today.year',
    month: '$today.month',
    day: '$today.day'
  },
  g: '$g',
  h: '$h',
  k: '$k'
}