$user
$user.favorites[0]
$user.favorites[$favIdx]
$method.foo($arg).bar

$user.name.length()
$user.favorites.size()
$order.keySet()
$order.orderId

#set($temp = 1)
#set($addr = $order.addr)
$addr.zipCode
$addr.city
$addr.country

#foreach($employee in $employeeList)
$foreach.index: $employee.name - $employee.email
$employee.code()
    #foreach($son in $employee.childlist)
        $son.name
        $employee.email
        #foreach($grandson in $son.name)
            $grandson.name
            $employee.email
        #end
    #end
#end

#parse('/child.vm')

#define($userInfo)
$user.name
$user.email
#end
$userInfo

#macro(hello $date)
$date.year $date.month $date.day
#end
#hello($today)
