#commonMacro($id $name $github)
#commonMacro('a', 'b', 'c')

#@blockMacro('one')
Block macro is called
#end
#@blockMacro('two')
Block macro is called again
#end

#macro(localMacro, $arg)
Argument of local macro: $arg
#end
#localMacro($id)
#localMacro($favorites)
